<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }} - 商品詳細</title>
</head>
<body>
    <h1>商品詳細</h1>
    <table border="1">
        <thead>
            <tr>
                <th>商品名</th>
                <th>価格</th>
                <th>説明</th>
            </tr>
        </thead>
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price }} 円</td>
            <td>{{ product.description }}</td>
        </tr>
    </table>
    {% if product.image %}
        <h2>商品画像</h2>
        <img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width: 300px;">
    {% endif %}
    <br>
    <a href="{% url 'product_list' %}">商品一覧に戻る</a>
</body>
</html>